.text-teal{
    color: #20c997
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
    background-color: #20c997
}
.page-item.active .page-link{
    background-color: #20c997;
    border-color: #20c997;
}


/*
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}


@media (min-width: 768px) {
    .modal-dialog {
      width: 600px;
      margin: 30px auto;
    } 
}*/
