{% extends 'accounting/main.html' %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-teal align-self-center"> Customers </h6>
        <button type="button" class="btn bg-teal ml-auto" data-toggle="modal" data-target="#formModal">
            <i class="fa fa-plus-circle mr-1"> </i> New
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable display" id="customers-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> First Name </th>
                        <th> Last Name </th>
                        <th> Address </th>
                        <th> Contact No. </th>
                        <th> No. of Transactions </th>
                        <th> Last Transaction </th>
                        <th> Actions </th>
                    </tr>
                </thead>

                {% if customers %}
                <tbody>
                    {% for customer in customers %}
                    <tr role="row">
                        <td> {{ forloop.counter }} </td>
                        <td> {{ customer.firstname }}  </td>
                        <td> {{ customer.lastname }} </td>
                        <td> {{ customer.address }}  </td>
                        <td> {{ customer.contact_no }} </td>
                        <td> 1 </td>
                        <td> 10/01/01</td>
                        <td>
                            <a href="#" class="text-teal" class="text-teal" data-toggle="modal" data-target="#historyModal">
                                <i class="fa fa-eye"> </i>
                                View
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-lg border-0">
            <div class="modal-header bg-teal">
                <h5 class="modal-title text-white">Customer Details </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="gen_customer_add_form">
                <div class="modal-body">
                    <div class="form-group gen_cust_field">
                        <label for="firstname"> First Name <span class="text-danger">*</span> </label>
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="">
                    </div>

                    <div class="form-group gen_cust_field">
                        <label for="lastname"> Last Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="address"> Address <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="address" id="address" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="contact"> Contact No. <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" name="contact" id="contact" placeholder="">
                    </div>
                    <div class="alert" id="alert" style="display:none"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-teal">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title text-success mt-2 font-weight-bold"> Transaction History: Juan Dela Cruz </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered dataTable display text-center" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> Transaction No. </th>
                            <th> Date </th>
                            <th> Invoice No. </th>
                            <th> Invoice Amount </th>
                            <th> Amount Paid </th>
                            <th> Balance </th>
                            <th> Status </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr role="row">
                            <td> 1 </td>
                            <td> 10/01/01</td>
                            <td> 12412421 </td>
                            <td> 10,000 </td>
                            <td> 8,000 </td>
                            <td> 2,000</td>
                            <td> <span class="text-danger"> Unpaid </span> </td>
                        </tr>
                        <tr role="row">
                            <td> 1 </td>
                            <td> 10/01/01</td>
                            <td> 12412421 </td>
                            <td> 10,000 </td>
                            <td> 8,000 </td>
                            <td> 2,000</td>
                            <td> <span class="text-danger"> Unpaid </span> </td>
                        </tr>
                        <tr role="row">
                            <td> 1 </td>
                            <td> 10/01/01</td>
                            <td> 12412421 </td>
                            <td> 10,000 </td>
                            <td> 8,000 </td>
                            <td> 2,000</td>
                            <td> <span class="text-danger"> Unpaid </span> </td>
                        </tr>
                        <tr role="row">
                            <td> 1 </td>
                            <td> 10/01/01</td>
                            <td> 12412421 </td>
                            <td> 10,000 </td>
                            <td> 8,000 </td>
                            <td> 2,000</td>
                            <td> <span class="text-danger"> Unpaid </span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer  border-top-0">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock  %}