{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Management System">
    <meta name="author" content="Grace Sigua">
    <title> Login | Agri-plas Trading </title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="bg-gradient-success">
    <div class="container">
        <!-- Outer Row -->
        <div>
            <div class="row justify-content-center ">
                <div class="col-xl-10 col-lg-12 col-md-9 my-auto d-flex flex-column h-100-screen">
                    <div class="card o-hidden border-0 shadow-lg my-5  my-auto">
                        <div class="card-body p-0 py-5">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block pl-5 my-auto">
                                    <img src="{% static 'images/logo.png' %} " class="w-100">
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 mb-4 text-success font-weight-bold"> AGRI-PLAS TRADING </h1>
                                        </div>
                                        <form id="login" method="post" class="user">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Enter Username...">
                                            </div>
                                            <div class="form-group">
                                                 <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
                                            </div>

                                            <button type="submit" class="btn btn-success btn-user btn-block">
                                            Login
                                            </button>
                                            <div id="login-alert" class="alert alert-danger mt-4" style="display:none">  </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/ajaxcalls.js"></script>
</body>
</html>