{% load static %}
<!DOCTYPE html>
<!--
	This is a starter template page. Use this page to start your new project from
	scratch. This page gets rid of all links and provides the needed markup only.
	-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title> {{ pagetitle }} | Agri-plas Trading   </title>
		<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
		<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  		<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	</head>
	<body class="hold-transition sidebar-mini text-sm">
		<div class="wrapper">
			<!-- Navbar -->
			<nav class="main-header navbar navbar-expand navbar-white navbar-light">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
					</li>
				</ul>
			</nav>
			<!-- /.navbar -->
			<!-- Main Sidebar Container -->
			<aside class="main-sidebar sidebar-light-teal elevation-4">
				<!-- Brand Logo -->
				<a href="{% url 'customers' %}" class="brand-link navbar-light font-weight-bold">
					<img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
						style="opacity: .8">
					<span class="brand-text font-weight-light"> Agri-plas Trading </span>
				</a>
				<!-- Sidebar -->
				<div class="sidebar">
					<!-- Sidebar user panel (optional) -->
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="image">
							<img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
						</div>
						<div class="info">
							<a href="#" class="d-block"> KM Sigua </a>
						</div>
					</div>
					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<!-- Add icons to the links using the .nav-icon class
								with font-awesome or any other icon font library -->
							<li class="nav-item">
								<a href="{% url 'dashboard' %}" class="nav-link  {% if '/dashboard' in request.path %} active {% endif %}">
									<i class="nav-icon fas fa-tachometer-alt"></i>
									<p>
										Dashboard
									</p>
								</a>
							</li>
							<li class="nav-item has-treeview {% if '/customers' in request.path %} menu-open {% endif %}">
								<a href="#" class="nav-link {% if '/customers' in request.path %} active {% endif %}">
									<i class="nav-icon fas fa-users"></i>
									<p>
										Customers
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview ">
									<li class="nav-item">
										<a href="{% url 'customers' %}?type=gen_customer" class="nav-link {% if '/customers' in request.path and request.GET.type == 'gen_customer' %} active {% endif %}">
											<i class="far fa-circle nav-icon"></i>
											<p> General Customers </p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{% url 'customers' %}?type=subdealer" class="nav-link {% if '/customers' in request.path and request.GET.type == 'subdealer' %} active {% endif %}">
											<i class="far fa-circle nav-icon"></i>
											<p>
												Subdealers
											</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item has-treeview {% if '/transactions' in request.path %} menu-open {% endif %}">
								<a href="#" class="nav-link {% if '/transactions' in request.path %} active {% endif %}">
									<i class="nav-icon fas fa-list-alt"></i>
									<p>
										Transactions
										<i class="right fas fa-angle-left"></i>
									</p>
								</a>
								<ul class="nav nav-treeview">
									<li class="nav-item">
										<a href="{% url 'transactions' %}?type=gen_customer" class="nav-link {% if '/transactions' in request.path and  request.GET.type == 'gen_customer' %} active {% endif %}">
											<i class="far fa-circle nav-icon"></i>
											<p>
												General Customers
											</p>
										</a>
									</li>
									<li class="nav-item">
										<a href="{% url 'transactions' %}?type=subdealer" class="nav-link {% if '/transactions' in request.path and  request.GET.type == 'subdealer' %} active {% endif %}">
											<i class="far fa-circle nav-icon"></i>
											<p>
												Subdealers
											</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="{% url 'logs' %}" class="nav-link">
									<i class="nav-icon fas fa-history"></i>
									<p> Logs </p>
								</a>
							</li>
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar -->
			</aside>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<!--<div class="container-fluid">
						<div class="row mb-2">
						  <div class="col-sm-6">
						    <h1 class="m-0 text-dark">Starter Page</h1>
						  </div>&lt;!&ndash; /.col &ndash;&gt;
						  <div class="col-sm-6">
						    <ol class="breadcrumb float-sm-right">
						      <li class="breadcrumb-item"><a href="#">Home</a></li>
						      <li class="breadcrumb-item active">Starter Page</li>
						    </ol>
						  </div>&lt;!&ndash; /.col &ndash;&gt;
						</div>&lt;!&ndash; /.row &ndash;&gt;
						</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
				</div>
				<!-- /.content-header -->
				<!-- Main content -->
				<div class="content">
					<div class="container-fluid">
						{% block content %}
						{% endblock %}
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
				<div class="p-3">
					<h5>Title</h5>
					<p>Sidebar content</p>
				</div>
			</aside>
			<!-- /.control-sidebar -->
			<!-- Main Footer -->
			<footer class="main-footer">
				<!-- To the right -->
				<!--<div class="text-right d-none d-sm-inline">
					Copyright &copy; 2020 Agri-plas Trading. All rights reserved.
					</div>-->
				<!-- Default to the left -->
				<p class="text-center m-0"> Copyright &copy; 2020 Agri-plas Trading. All rights reserved. </p>
			</footer>
		</div>
		<!-- ./wrapper -->
		<!-- REQUIRED SCRIPTS -->
		<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'dist/js/adminlte.min.js' %}"></script>

		<!-- DataTables -->
		<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

		<!-- AdminLTE for demo purposes -->
		<script src="{% static 'dist/js/demo.js' %}"></script>

		<!-- Custom Script-->
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>
