{% extends 'accounting/main.html' %}
{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header py-3 d-flex justify-content-between">
                <h6 class="m-0 font-weight-bold text-teal align-self-center"> Transactions </h6>
                <button type="button" class="btn bg-teal ml-auto" data-toggle="modal" data-target="#add-transaction-modal">
                    <i class="fa fa-plus-circle mr-1"> </i>  Add Transaction
                </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="transactions-table" class="table table-bordered dataTable table-hover">
                    <thead>
                        <tr>
                            <th style="min-width: 60px;"> Purchase Date</th>
                            <th> First Name</th>
                            <th> Last Name</th>
                            <th> Branch</th>
                            <th> Sales Invoice No.</th>
                            <th> Delivery Receipt No.</th>
                            <th> Amount</th>
                            <th> Amount Paid</th>
                            <th> Balance</th>
                            <th> Terms</th>
                            <th> Date Due</th>
                            <th> Aged Days</th>
                            <th> Status</th>
                            <th style="min-width: 80px;"> Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Sigua </td>
                            <td> Grace </td>
                            <td> Sigua </td>
                            <td> San Jose </td>
                            <td> test </td>
                            <td> test </td>
                            <td> test </td>
                            <td> tset </td>
                            <td> tset </td>
                            <td> test </td>
                            <td> test </td>
                            <td> test </td>
                            <td> test </td>
                            <td> test </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col -->
</div>
 <!-- Add transaction modal -->
<div class="modal fade" id="add-transaction-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-teal">
                <h5 class="modal-title text-white">New Transaction </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add_gen_customer_transaction">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <label for="customer"> Customer <span class="text-danger">*</span> </label>
                            <select class="form-control" id="customer" name="customer">
                                <option value=""> Select Customer </option>
                                <?php foreach($gen_customers as $customer): ?>
                                    <option value="<?php echo $customer['id'] ?>"> <?php echo $customer['firstname']. ' ' . $customer['lastname']  ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="branch"> Branch <span class="text-danger">*</span> </label>
                            <select class="form-control" id="branch" name="branch">
                                <option value=""> Select Branch </option>
                                <option value="Cabanatuan"> Cabanatuan </option>
                                <option value="San Jose"> San Jose </option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-12 mb-3">
                            <label for="invoice_num"> Sales Invoice Number <span class="text-danger">*</span> </label>
                            <input type="number" class="form-control" id="invoice_num" name="invoice_num">
                        </div>
                        <div class="col-lg-6 col-12 mb-3">
                            <label for="amount"> Amount <span class="text-danger">*</span> </label>
                            <input type="number" class="form-control" id="amount" name="amount">
                        </div>
                        <div class="col-lg-6 col-12 mb-3">
                            <label for="delivery_receipt_num"> Delivery Receipt No. <span class="text-danger">*</span> </label>
                            <input type="number" class="form-control" id="delivery_receipt_num" name="delivery_receipt_num">
                        </div>
                        <div class="col-lg-6 col-12 mb-3">
                            <label for="terms"> Terms <span class="text-danger">*</span> </label>
                            <input type="text" class="form-control" id="terms" name="terms">
                        </div>

                        <div class="col-lg-6 col-12 mb-3">
                            <label for="purchase_date"> Purchase Date <span class="text-danger">*</span> </label>
                            <input type="date" class="form-control" id="purchase_date" name="purchase_date" value="<?php echo $today ?>">
                        </div>
                        <div class="col-lg-6 col-12 mb-3">
                            <label for="date_due"> Date Due <span class="text-danger">*</span> </label>
                            <input type="date" class="form-control" id="date_due" name="date_due">
                        </div>
                    </div>
                    <div class="alert" id="alert" style="display:none"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-teal">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}
